{% extends 'boardgames/base.html' %}
   
   
{% block content %}
<div id="header-carousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active" style="height: 410px;">
            <img class="img-fluid" src="https://cf.geekdo-images.com/KXEZpUsmkbKzuyQbznPwYQ__original/img/QylR5UePm-rWPSQRyP6g1rmwHBs=/0x0/filters:format(jpeg)/pic113890.jpg" alt="Image">
            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                <div class="p-3" style="max-width: 700px;">
                    <h4 class="text-light text-uppercase font-weight-medium mb-3">10% Off Your First Order</h4>
                    <h3 class="display-4 text-white font-weight-semi-bold mb-4">Latest Arrivals</h3>
                    <a href="{% url 'display' category='all' %}" class="btn btn-light py-2 px-3">Shop Now</a>
                </div>
            </div>
        </div>
        <div class="carousel-item" style="height: 410px;">
            <img class="img-fluid" src="https://cf.geekdo-images.com/cwU7yMp2ISonhEzJ5ZNmqw__original/img/_7X04AHX3fIpgzg1C-AVtz_OIFs=/0x0/filters:format(jpeg)/pic245105.jpg" alt="Image">
            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                <div class="p-3" style="max-width: 700px;">
                    <h4 class="text-light text-uppercase font-weight-medium mb-3">We've Got It All</h4>
                    <h3 class="display-4 text-white font-weight-semi-bold mb-4">Nostalgic Favorites</h3>
                    <a href="{% url 'display' category='all' %}" class="btn btn-light py-2 px-3">Shop Now</a>
                </div>
            </div>
        </div>
        <div class="carousel-item" style="height: 410px;">
            <img class="img-fluid" src="https://cf.geekdo-images.com/0-DjGBOko6RV8zg5ejhYIg__original/img/0pn_QgMuWaIJb2Q7aZNfORse0_o=/0x0/filters:format(jpeg)/pic260745.jpg" alt="Image">
            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                <div class="p-3" style="max-width: 700px;">
                    <h4 class="text-light text-uppercase font-weight-medium mb-3">Something For Everyone</h4>
                    <h3 class="display-4 text-white font-weight-semi-bold mb-4">Timeless Classics</h3>
                    <a href="{% url 'display' category='all' %}" class="btn btn-light py-2 px-3">Shop Now</a>
                </div>
            </div>
        </div>
        <div class="carousel-item" style="height: 410px;">
            <img class="img-fluid" src="https://cf.geekdo-images.com/J38tww49pGTsp3bmgEekkA__original/img/x-9leXy53NTZmlbwFWE3xxc2Twg=/0x0/filters:format(png)/pic3573055.png" alt="Image">
            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                <div class="p-3" style="max-width: 700px;">
                    <h4 class="text-light text-uppercase font-weight-medium mb-3">Fun For All Ages</h4>
                    <h3 class="display-4 text-white font-weight-semi-bold mb-4">Family Friendly</h3>
                    <a href="{% url 'display' category='all' %}" class="btn btn-light py-2 px-3">Shop Now</a>
                </div>
            </div>
        </div>
    </div>
    
    <a class="carousel-control-prev" href="#header-carousel" data-slide="prev">
        <div class="btn btn-dark" style="width: 45px; height: 45px;">
            <span class="carousel-control-prev-icon mb-n2"></span>
        </div>
    </a>
    <a class="carousel-control-next" href="#header-carousel" data-slide="next">
        <div class="btn btn-dark" style="width: 45px; height: 45px;">
            <span class="carousel-control-next-icon mb-n2"></span>
        </div>
    </a>
</div>
{% endblock %}
    